::selection {
	background-color: #800080;
}
*, body {
	color: #444;
}
a {
	color: #800080;
}
a:hover,
a:focus{
	color: #800080;
}
.pace .pace-progress {
  	background-color: #800080;
}
.pace .pace-progress-inner {
  	box-shadow: 0 0 10px #800080, 0 0 5px #800080;
}
.pace .pace-activity {
  	border-top-color: #800080;
  	border-left-color: #800080;
}
.header.fixed-top[data-color-scheme="light"] .header-wrap .logo-container .logo.text {
	color: #800080;
}
.header .header-wrap .nav-container .standard-nav>li>a:before {
	background-color: #800080;
}
.header.fixed-top[data-color-scheme="light"] .header-wrap .nav-container .standard-nav>li>a {
	color: #800080;
}
.header.fixed-top[data-color-scheme="light"] .header-wrap .nav-container .standard-nav>li>a:before{
	background-color: #800080;
}
.header .header-wrap .nav-container .mini-nav-button.active,
.header .header-wrap .nav-container .mini-nav-button:hover{
	background-color: #fff;
}
.header .header-wrap .nav-container .mini-nav-button:hover span{
	background-color: #800080;
}
.header .header-wrap .nav-container .mini-nav-button.active:hover span{
	background-color: #fff;
}
.header .header-wrap .nav-container .mini-nav-button.active span:before,
.header .header-wrap .nav-container .mini-nav-button:hover span:before,
.header .header-wrap .nav-container .mini-nav-button.active span:after,
.header .header-wrap .nav-container .mini-nav-button:hover span:after {
	background-color: #800080;
}
.header.fixed-top[data-color-scheme="light"] .header-wrap .nav-container .mini-nav-button{
	border-color: #800080;
	color: #800080;
}
.header.fixed-top[data-color-scheme="light"] .header-wrap .nav-container .mini-nav-button.active,
.header.fixed-top[data-color-scheme="light"] .header-wrap .nav-container .mini-nav-button:hover{
	background-color: #800080;
}
.header.fixed-top[data-color-scheme="light"] .header-wrap .nav-container .mini-nav-button span {
	background-color: #800080;
}
.header.fixed-top[data-color-scheme="light"] .header-wrap .nav-container .mini-nav-button span:before,
.header.fixed-top[data-color-scheme="light"] .header-wrap .nav-container .mini-nav-button span:after {
	background-color: #800080;
}
.header.fixed-top[data-color-scheme="light"] .header-wrap .nav-container .mini-nav-button.active span:before,
.header.fixed-top[data-color-scheme="light"] .header-wrap .nav-container .mini-nav-button:hover span:before,
.header.fixed-top[data-color-scheme="light"] .header-wrap .nav-container .mini-nav-button.active span:after,
.header.fixed-top[data-color-scheme="light"] .header-wrap .nav-container .mini-nav-button:hover span:after {
	background-color: #fff;
}
.full-screen-nav .full-screen-nav-wrap .full-screen-nav-wrap-inner .full-screen-nav-items>li.active>a,
.full-screen-nav .full-screen-nav-wrap .full-screen-nav-wrap-inner .full-screen-nav-items>li>a:hover{
	color: #800080;
}
.full-screen-nav .full-screen-nav-wrap .full-screen-nav-wrap-inner .full-screen-nav-items>li>a:before {
	background-color: #800080;
}
.header .header-wrap .addition-container ul.social>li:hover>a>i{
	color: #800080;
}
.header.fixed-top[data-color-scheme="light"] .header-wrap .addition-container ul.social>li {
	border-color: #800080;
}
.header.fixed-top[data-color-scheme="light"] .header-wrap .addition-container ul.social>li>a>i{
	color: #800080;
}
.header.fixed-top[data-color-scheme="light"] .header-wrap .addition-container ul.social>li:hover {
	background-color: #800080;
}
.header.fixed-top[data-color-scheme="light"] .header-wrap .addition-container ul.social>li:hover>a>i{
	color: #fff;
}
.header.fixed-top[data-color-scheme="light"] .header-wrap .addition-container .search-button{
	border-color: #800080;
}
.header.fixed-top[data-color-scheme="light"] .header-wrap .addition-container .search-button i {
	color: #800080;
}
.header.fixed-top[data-color-scheme="light"] .header-wrap .addition-container .search-button:hover{
	background-color: #800080;
}
.header .header-wrap .addition-container .search-button:hover i{
	color: #800080;
}
.header.fixed-top[data-color-scheme="light"] .header-wrap .addition-container .search-button:hover i{
	color: #fff;
}
#site-intro{
	background-color: #800080;
}
#site-intro.left-style .intro-wrap .intro-text .action-list .action-btn:hover,
#site-intro.right-style .intro-wrap .intro-text .action-list .action-btn:hover{
	color: #800080;
}
#site-intro.left-style .intro-wrap .intro-text .action-list .action-btn:hover i,
#site-intro.right-style .intro-wrap .intro-text .action-list .action-btn:hover i{
	color: #800080;
}
#site-intro.left-style .intro-wrap .intro-text .action-list .action-btn.highlight,
#site-intro.right-style .intro-wrap .intro-text .action-list .action-btn.highlight{
	color: #fff;
	border-color: #8A0A8A;
	background-color: #8A0A8A;
}
#site-intro.left-style .intro-wrap .intro-text .action-list .action-btn.highlight i,
#site-intro.right-style .intro-wrap .intro-text .action-list .action-btn.highlight i{
	color: #fff;
}
#site-intro.left-style .intro-wrap .intro-text .action-list .action-btn.highlight:hover,
#site-intro.right-style .intro-wrap .intro-text .action-list .action-btn.highlight:hover{
	color: #fff;
	background-color: #800080;
	border-color:#800080;
}
#site-intro ul.social li:hover>a>i {
	color: #800080;
}
#site-intro .more-detail a:hover{
	color: #800080;
}
#site-intro[data-more-button-style="button-only"] .more-detail a:hover {
	color: #800080;
}
.body-content .post.even {
	background-color: #800080;
	color: #fff;
}
.body-content .post.even * {
	color: #fff;
}
.body-content .post.odd .post-header .header-wrap .post-title a{
	color: #444;
}
.body-content .post.odd .post-header .header-wrap .post-meta{
	color: #444;
}
.body-content .post.odd .post-header .header-wrap .post-meta a,
.body-content .post.odd .post-header .header-wrap .post-meta time {
	color: #444;
}
.body-content .post.odd .post-header .header-wrap .post-meta i {
	color: #444;
}
.body-content .post.odd .post-header .header-wrap .post-excerpt {
	color: #444;
}
.body-content .post.odd .post-header .header-wrap .line::before,
.body-content .post.odd .post-header .header-wrap .line::after {
	border-color: #444;
}
.body-content .post .post-header.image-post .header-wrap .line::before,
.body-content .post .post-header.image-post .header-wrap .line::after,
.body-content .post .post-header.video-post .header-wrap .line::before,
.body-content .post .post-header.video-post .header-wrap .line::after {
	border-color: #fff;
}
.body-content .post.odd .post-header .header-wrap .line .audio-playback {
	border-color: #444;
}
.body-content .post.odd .post-header .header-wrap .line .audio-playback::before {
	color: #444;
}
.body-content .post.odd .post-header .header-wrap .line .audio-playback:hover {
	background-color: #444;
}
.body-content .post .post-header .header-wrap .line .video-playback:hover::before {
	color: #800080;
}
.body-content .post.odd .post-header .header-wrap .post-action .read-more {
	color: #444;
	border-color: #444;
}
.body-content .post.odd .post-header .header-wrap .post-action .read-more i {
	color: #444;
}
.body-content .post .post-header .header-wrap .post-action .read-more:hover {
	color: #800080;
}
.body-content .post .post-header .header-wrap .post-action .read-more:hover i {
	color: #800080;
}
.body-content .post.odd .post-header .header-wrap .post-action .read-more:hover {
	border-color: #800080;
	background-color: #800080;
}
.body-content .post .post-header.video-post .header-wrap .post-action .read-more:hover,
.body-content .post.odd .post-header.video-post .header-wrap .post-action .read-more:hover {
	color: #800080;
	border-color: #fff;
}
.body-content .post .post-header.video-post .header-wrap .post-action .read-more:hover i,
.body-content .post.odd .post-header.video-post .header-wrap .post-action .read-more:hover i {
	color: #800080;
}
.body-content .post .post-header.image-post .header-wrap .post-action .read-more:hover,
.body-content .post.odd .post-header.image-post .header-wrap .post-action .read-more:hover{
	border-color: #fff;
}
.body-content .post .post-header.image-post .header-wrap .post-action .read-more:hover,
.body-content .post.odd .post-header.image-post .header-wrap .post-action .read-more:hover,
.body-content .post .post-header.image-post .header-wrap .post-action .read-more:hover i,
.body-content .post.odd .post-header.image-post .header-wrap .post-action .read-more:hover i{
	color: #800080;
}
.post-template .body-content .post .post-header {
	background-color: #800080;
}
.post-template .body-content .post .post-content blockquote{
	border-left-color: #800080;
}
.post-template .next-post{
	background-color: #fff;
}
.post-template .next-post .next-post-wrap .next-label{
	color: #444;
}
.post-template .next-post .next-post-wrap .post-title a{
	color: #444;
}
.post-template .next-post .next-post-wrap .post-meta{
	color: #444;
}
.post-template .next-post .next-post-wrap .next-arrow a i{
	color: #444;
}
.post-template .next-post .next-post-wrap .next-arrow a:hover i{
	color: #800080;
}
.post-template .body-content .post .post-content table thead td,
.post-template .body-content .post .post-content table thead th,
.post-template .body-content .post .post-content table tfoot td {
	border-color: #444;
}
.page-resume .body-content .post .post-content .resume-col .progress.skill .progress-bar-skill {
	background-color: #800080;
}
.page-resume .body-content .post .post-content .resume-col .experience-item {
	border-color: #444;
}
.page-resume .body-content .post .post-content .resume-col .edu-item {
	border-bottom-color: #444;
}
.pagination-section{
	background-color: #fff;
}
.pagination-wrap .pagination .page-number,
.pagination-wrap .pagination .page-number span{
	color: #800080;
}
.pagination-wrap .pagination .newer-posts, .pagination-wrap .pagination .older-posts {
	border-color: #800080;
	color: #800080;
}
.pagination-wrap .pagination .newer-posts,
.pagination-wrap .pagination .newer-posts span,
.pagination-wrap .pagination .newer-posts i,
.pagination-wrap .pagination .older-posts,
.pagination-wrap .pagination .older-posts span,
.pagination-wrap .pagination .older-posts i{
	color: #800080;
}
.pagination-wrap .pagination .newer-posts:hover, .pagination-wrap .pagination .older-posts:hover {
	background-color: #800080;
}

.site-footer {
	background-color: #EDF1F4;
}
.site-footer.one-colum .totop-btn,
.site-footer.three-colums .totop-btn,
.site-footer.two-colums .totop-btn {
	background-color: #444;
}
.site-footer.two-colums .totop-btn{
	border-color: #C5C5C5;
}
.widget .widget-title h3{
	color: #444;
}
.widget .widget-content,
.widget .widget-content p{
	color: #444;
}
.widget .widget-content a{
	color: #800080;
}
.widget .widget-content .split-container .left-content .icon-thumb i{
	color: #C5C5C5;
}
.widget .widget-content .split-container.inverse .right-content .icon-thumb i{
	color: #C5C5C5;
}
.widget .widget-content .split-container .left-content .img-thumb{
	border-color: #C5C5C5;
}
.widget .widget-content .form-container .form-control{
	background-color: #fff;
	border-color: #DDDDDD;
}
.widget .widget-content .form-container .form-control:focus{
	border-color: #444;
}
.widget .widget-content .form-container .btn-theme{
	background-color: #ddd;
	border-color: #ddd;
}
.widget .widget-content .form-container .btn-theme:hover {
	background-color: #444;
	border-color: #444;
}
.widget .widget-content .btn-resume{
	border-color: #444;
	color: #444;
}
.widget .widget-content .btn-resume:hover{
	background-color: #444;
	color: #fff;
}
.site-footer.one-colum ul.social li,
.site-footer.two-colums ul.social li,
.widget .widget-content ul.social li{
	border-color: #444;
}
.site-footer.one-colum ul.social li>a>i,
.site-footer.two-colums ul.social li>a>i,
.widget .widget-content ul.social li>a>i{
	color: #444;
}
.site-footer.one-colum ul.social li:hover,
.site-footer.two-colums ul.social li:hover,
.widget .widget-content ul.social li:hover{
	background-color: #444;
}
.site-footer.one-colum ul.social li:hover>a>i,
.site-footer.two-colums ul.social li:hover>a>i,
.widget .widget-content ul.social li:hover>a>i{
	color: #fff;
}
.site-footer.three-colums .site-footer-wrap .copyright,
.site-footer.four-colums .site-footer-wrap .copyright {
	border-top-color: #C5C5C5;
}
.site-footer .site-footer-wrap .copyright,
.site-footer .site-footer-wrap .copyright * {
	color: #444;
}
.gmap-container{
	background-color: #800080;
}
#time-to-read-nofify{
	background-color: #800080;
}
#time-to-read-nofify:after{
	border-left-color:#800080;
}
.share-box .share-box-wrap{
	background-color: #800080;
}
.share-box .share-box-wrap::after{
	border-left-color:#800080;
}
.share-box ul.social>li:hover>a>i{
	color: #800080;
}
#gmap div.gmnoprint[title="i-am-here"] {
	background-color: #800080;
}
@media only screen and (max-width: 767px) {
	.widget {
		border-bottom-color: #C5C5C5;
	}
}
